<section class="main-header">
  #<p class="flash"><%= notice %><%= alert %></p>
  #<img src="<%= asset_path "urgentmama1.jpeg" %>">
</section>



<section class="about">
  <h1>アージェント・ママ！</h1>
  <p>
     アージェント・ママは子育で困ったママを助けるサイトです<br>
     すぐに助けが必要な時、このサイトでお願いできる方を探す事ができます
  </p>
  <p>
     困ったママを助ける事ができる人<br>
     経験からできる事を登録し助けると共に余った時間で働く事ができます！</p>
     
  <p>
     困ったママはこのサイトから緊急で助けてくれる方を探して<br>
     病気や人手が足りなく辛いときは助けをお願いしてみましょう！
    
  </p>
</section>
