<!DOCTYPE html>
<html>
<head>
  <title>Urgentmama</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <header>
    <ul>
      <li><a href="#">トップページ</a></li>
      <li><a href="#">お問い合わせ</a></li>
      <li><a href="#">お願いする</a></li>
      <li><a href="#">助ける</a></li>
    </ul>
  </header>

<%= yield %>

<footer>
  <p>運営会社 URGENTMAMA</p>
  <p>© 2017-2018 Copyright URGENTMAMA Corp.</p>
</footer>

</body>
</html>
